@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');    
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:opsz,wght@6..12,500&display=swap');

body{
    background-color: rgb(34, 34, 34);
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title-header a{
    flex-direction: column;
    line-height: 10px;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}

a:hover{
    color: rgb(14, 27, 201);
    transition: 0.3s all;
}

#enviar-btn{
    border: 2px solid rgb(14, 27, 201);
    padding: 10px;
    border-radius: 15px;
}

#enviar-btn:hover{
    background-color: rgb(14, 27, 201);
    color: white;
}

h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: 'Bebas Neue', sans-serif;
        font-family: 'Nunito Sans', sans-serif;
}

span{
    color: rgb(14, 27, 201);
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

img{
    width: 580px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(14, 27, 201);
    color: white;
    font-weight: bold;
}
form [type="submit"]:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}